<!DOCTYPE html>

<html <% if (config.language) { %>lang="<%- config.language %>"<% } %>>

<head>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += '：' + page.year + '/' + page.month;
    } else if (is_year()){
      title += '：' + page.year;
    }
  } else if (is_category()){
    title = __('count.categories') + '：' + page.category;
  } else if (is_tag()){
    title = __('count.tags') + '：' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= config.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <%- partial('_partial/_analytics/gtm-head') %>
  <%- partial('_partial/site-verification') %>
  <link rel="shortcut icon" href="<%= theme.favicon.href %>" type="<%= theme.favicon.type %>" />
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% var cssList = [theme.cdn[theme.highlight].css, theme.cdn.fancybox.css] -%>
  <link rel="preload" as="style" href="<%- combine_jsdelivr_link(cssList) %>" onload="this.rel = 'stylesheet'; this.onload = null;">
  <link rel="preload" as="style" href="<%- theme.cdn.mdui.css %>"  onload="this.rel = 'stylesheet'; this.onload = null;" crossorigin>
  <% if (theme.iconlib) { -%>
    <link rel="preload" as="style" href="<%= theme.iconlib %>" onload="this.rel = 'stylesheet'; this.onload = null;" crossorigin>
  <% } -%>
  <%- css_auto_version('css/style') %>
</head>

<body >
  <%- partial('_partial/_analytics/gtm-body') %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url('<%= theme.background.path %>')"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon mdui-ripple"><i class="mdui-icon nexmoefont icon-menu"></i></a>
        <div class="mdui-toolbar-spacer"></div>
        <!--<a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>-->
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>" class="mdui-btn mdui-btn-icon">
          <%- image_auto_lazyload(`<img src="${theme.avatar}" alt="${config.author || config.title}">`) %>
        </a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <%- partial('_partial/header') %>
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <%- body %>
    </div>
  </div>
  <%- partial('_partial/after-footer') %>
  <%- partial('_partial/analytics') %>
</body>

</html>
