<div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <%- image_auto_lazyload(`<img src="${theme.avatar}" alt="${config.author || config.title}">`) %>
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    <div class="nexmoe-list mdui-list" mdui-collapse="{accordion: true}">
        <% for (name in theme.menu) { %>
        <a class="nexmoe-list-item mdui-list-item mdui-ripple" href="<%- url_for(theme.menu[name][0]) -%>" title="<%= name %>">
            <i class="mdui-list-item-icon nexmoefont <% if (theme.menu[name][1]){ %><%= theme.menu[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
            <div class="mdui-list-item-content">
                <%= name %>
            </div>
        </a>
        <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
    <div class="nexmoe-author-copyright">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>
    <div class="nexmoe-copyright">
        <p>由 <a href="http://hexo.io/" target="_blank">Hexo</a> 以及 <a href="https://github.com/dogtorrent/hexo-theme-mako" target="_blank">Mako</a> 强力驱动</p>
        <p>由 <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">又拍云</a> 以及 <a href='https://www.ucloud.cn/' target='_blank'>UCLOUD</a> 提供CDN加速/云储存服务</p>
    </div>
</div><!-- .nexmoe-drawer -->
